<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"
		/>
		<link rel="stylesheet" href="/css/styles.css" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body class="aboutpage">
    <div class="container">
               <div class="nav-wrapper">
                 <div class="left-side">
                     <div class="nav-link-wrapper">
                       <a href="/users/dashboard">dashboard</a>
                     </div>

                     <div class="nav-link-wrapper">
                        <a href="/users/about">About</a>
                    </div>

                 </div>

                 <div class="right-side">
                     <div class="brand">
                       <div> JAMIE PLUNKETT</div>
                     </div>

                 </div>

               </div>
            <div class="content-wrapper">
                 <div class="two-column-wrapper">
                   <div class="profile-image-wrapper">
                        <img src="../images/about.jpg" >
                   </div>

                   <div class="profile-content-wrapper">

                    <h1> Hi, my name is Jamie Plunkett.</h1>

                      <p> I am currently a masters student, at the university of Regina,
                          this is my first ever ERP System to tackle the tasks of our everyday small business </p>

                     <p> I enjoy developing cheap and affordably programs for
                         small businesses, on time and within budget. </p>




                </div>


            </div>



    </div>


</body>


</html>
