<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" 
    />
		<link rel="stylesheet" href="/css/styles.css" />   

		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Sales</title>
    
    </head>
	<body class="accountspage">

    
   

       <div class="container">
    
       
                  <div class="nav-wrapper">
			                        	<div class="left-side">
			                                		<div class="nav-link-wrapper">
			                               			<a href="/users/dashboard">dashboard</a>
					         </div>

                             
                   <div class="nav-link-wrapper">
                    <a href="/users/expensetracker">Expense Tracker</a>
                    </div>  
                           
                
                
                
                
                               <div class="nav-link-wrapper">
						       <a href="/users/profitandloss">Profit and Loss Calculator</a>
					            </div>  
			

				                  
      
      
      
      
      
      