<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <header>
<div class="news-link">
   <p>www.news.com</p> 
</div>
<hr class="hr1">
<h1> <span>NEWS</span>PAPER</h1>
<p class="ad">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet, eaque. Dignissimos, ex praesentium neque deserunt ipsa maiores a esse eligendi libero totam tempore adipisci, qui quaerat sit inventore excepturi. Exercitationem.</p>
<h2 class="date">May, 5 2020</h2>
<h2 class="edition">Edition:01242</h2>
<hr class="hr2">

   </header>
<h1>TITLE HERE</h1>
<section class="container-1">
<hr class="break">
<div class="p-1">
<h4>Lorem, ipsum </h4>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat natus repudiandae inventore dolor veritatis quia, sunt ipsum debitis reiciendis adipisci at explicabo, qui aut, vitae soluta maiores expedita illo. Assumenda?</p>

</div>

<div class="p-1">
    <h4>Lorem, ipsum </h4>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat natus repudiandae inventore dolor veritatis quia, sunt ipsum debitis reiciendis adipisci at explicabo, qui aut, vitae soluta maiores expedita illo. Assumenda?</p>
    
    </div>

    <div class="p-1">
        <h4>Lorem, ipsum </h4>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat natus repudiandae inventore dolor veritatis quia, sunt ipsum debitis reiciendis adipisci at explicabo, qui aut, vitae soluta maiores expedita illo. Assumenda?</p>
        
        </div>


</section>




</body>
</html>