<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Newspaper</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">


</head>
<body class="unique-page-name">
  
    <header>
<div class="news-link"> <a href="/users/dashboard">Back</a> 
   <p>www.news.com</p> 
</div>
<hr class="hr1">
<h1> <span>NEWSPAPER </span>   </h1>
<p class="ad">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet, eaque. Dignissimos, ex praesentium neque deserunt ipsa maiores a esse eligendi libero totam tempore adipisci, qui quaerat sit inventore excepturi. Exercitationem.</p>
<h2 class="date">May, 5 2020</h2>
<h2 class="edition">Edition:01242</h2>
<hr class="hr2">

   </header>
<h1>TITLE HERE</h1>
<section class="container-1">
<hr class="break">
<div class="p-1">
<h4>Lorem, ipsum </h4>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat natus repudiandae inventore dolor veritatis quia, sunt ipsum debitis reiciendis adipisci at explicabo, qui aut, vitae soluta maiores expedita illo. Assumenda?</p>

</div>

<div class="p-1">
    <h4>Lorem, ipsum </h4>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat natus repudiandae inventore dolor veritatis quia, sunt ipsum debitis reiciendis adipisci at explicabo, qui aut, vitae soluta maiores expedita illo. Assumenda?</p>
    
    </div>

    <div class="p-1">
        <h4>Lorem, ipsum </h4>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat natus repudiandae inventore dolor veritatis quia, sunt ipsum debitis reiciendis adipisci at explicabo, qui aut, vitae soluta maiores expedita illo. Assumenda?</p>
        
        </div>

<div class="super">
    <img class="image-1" src="../images/carimage.jpg" >

</div>
</section>
<section class="container-2">
<hr class="break-mid">
<p class="caption">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus nemo optio ut repellat consequuntur a, impedit itaque blanditiis enim nihil sed mollitia, illum harum quia at, quasi adipisci eius dolor.</p>

</section>

<section class="container-3">
<hr class="break-2">
<div class="p-2">
    <h4>Lorem, ipsum </h4>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat natus repudiandae inventore dolor veritatis quia, sunt ipsum debitis reiciendis adipisci at explicabo, qui aut, vitae soluta maiores expedita illo. Assumenda?</p>
    
    </div>

    <div class="p-2">
        <h4>Lorem, ipsum </h4>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat natus repudiandae inventore dolor veritatis quia, sunt ipsum debitis reiciendis adipisci at explicabo, qui aut, vitae soluta maiores expedita illo. Assumenda?</p>
        
        </div>
        
        <div class="p-2">
            <h4>Lorem, ipsum </h4>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat natus repudiandae inventore dolor veritatis quia, sunt ipsum debitis reiciendis adipisci at explicabo, qui aut, vitae soluta maiores expedita illo. Assumenda?</p>
            
            </div>
            <div class="super1">
                <img class="image-2" src="../images/small1.jpg" >
            
            </div>
<div class="p-3">
    <h4>Lorem, ipsum </h4>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat natus repudiandae inventore dolor veritatis quia, sunt ipsum debitis reiciendis adipisci at explicabo, qui aut, vitae soluta maiores expedita illo. Assumenda?</p>
    
    </div>

    <div class="p-3">
        <h4>Lorem, ipsum </h4>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat natus repudiandae inventore dolor veritatis quia, sunt ipsum debitis reiciendis adipisci at explicabo, qui aut, vitae soluta maiores expedita illo. Assumenda?</p>
        
        </div>
        
        <div class="p-3">
            <h4>Lorem, ipsum </h4>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat natus repudiandae inventore dolor veritatis quia, sunt ipsum debitis reiciendis adipisci at explicabo, qui aut, vitae soluta maiores expedita illo. Assumenda?</p>
            
            </div>
</section>
<p class="caption-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit voluptate rerum at beatae, temporibus praesentium explicabo quia illo! Praesentium nemo dolor repellat consequatur nulla incidunt similique sunt porro maxime id?</p>
<hr class="hr3">
<p></p>



</body>
</html>